@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction: row, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin backgroundImage(
  $src,
  $repeat: no-repeat,
  $position: center,
  $size: cover
) {
  background-image: url($src);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}
