// Primary
$primary-blue: hsl(237, 18%, 59%);
$primary-red: hsl(345, 95%, 68%);

// Neutral
$white: hsl(0, 0%, 100%);
$dark-blue: hsl(236, 21%, 26%);
$dark-blue-medium: hsl(235, 16%, 14%);
$dark-blue-strong: hsl(234, 17%, 12%);

// Z-index
$zIndex-level1: 10;
$zIndex-level2: 20;
$zIndex-level3: 30;
$zIndex-level4: 40;
$zIndex-level5: 50;
$zIndex-level10: 100;
$zIndex-level999: 999;

// letter spacing
$main-letter-spacing: 6px;
$small-letter-spacing: 3px;

// Sizes
$tablet: 768px;
$mobile: 568px;
$mobile-small: 360px;
