// Primary
$primary-blue: hsl(237, 18%, 59%);
$primary-red: hsl(345, 95%, 68%);

// Neutral
$white: hsl(0, 0%, 100%);
$dark-blue: hsl(236, 21%, 26%);
$dark-blue-medium: hsl(235, 16%, 14%);
$dark-blue-strong: hsl(234, 17%, 12%);
