@import './var';
@import './mixins';

body {
  color: $white;
  background: $dark-blue-medium;
  font-family: 'Red Hat Text', sans-serif;
}

.main {
  position: relative;
  height: 100vh;
  @include flex(column, space-between, center);
  @include backgroundImage('../assets/images/bg-stars.svg');

  &__title {
    margin: 150px 0 0;
    letter-spacing: $main-letter-spacing;
    text-transform: uppercase;
    font-size: 24px;
  }

  .footer {
    width: 100%;
    height: 25%;
    @include flexCenter;
    z-index: $zIndex-level5;
    @include backgroundImage(
      '../assets/images/pattern-hills.svg',
      no-repeat,
      top,
      cover
    );
  }
}

.time {
  @include flex();
  z-index: $zIndex-level5;

  &__wrapper {
    @include flex(column);
    margin-right: 40px;
  }

  &__wrapper:last-child {
    margin-right: 0;
  }

  &__card {
    @include flexCenter;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 0 0 $dark-blue-strong;
    color: $primary-red;
    background-color: $dark-blue;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    font-size: 80px;
  }

  &__notch {
    position: absolute;
    top: 50%;
    height: 1px;
    background: $dark-blue-strong;
    width: 100%;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      width: 12px;
      height: 12px;
      background: $dark-blue-strong;
      border-radius: 100%;
      top: -6px;
    }

    &::after {
      right: -6px;
    }

    &::before {
      left: -6px;
    }
  }

  &__unit {
    color: $primary-blue;
    letter-spacing: $main-letter-spacing;
    margin-top: 30px;
    text-transform: uppercase;
  }
}

.socials-list {
  @include flex();
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    cursor: pointer;
    padding: 5px;
    display: block;

    &:hover path {
      fill: $primary-red;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .main {
    .footer {
      background-position: bottom right;
    }
  }
  .time {
    &__wrapper {
      margin-right: 15px;
    }

    &__card {
      width: 120px;
      height: 120px;
      font-size: 50px;
    }

    &__unit {
      letter-spacing: $small-letter-spacing;
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .main {
    &__title {
      text-align: center;
      padding: 0 10px;
      line-height: 1.4;
    }
  }
  .time {
    &__wrapper {
      margin-right: 10px;
    }

    &__card {
      width: 80px;
      height: 80px;
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: $mobile-small) {
  .time {
    &__wrapper {
      margin-right: 10px;
    }

    &__card {
      width: 65px;
      height: 65px;
      font-size: 30px;
    }

    &__unit {
      font-size: 8px;
    }
  }
}
