@import './var';
@import './mixins';
@import './animation';

body {
  color: $white;
  background: $dark-blue-strong;
  font-family: 'Red Hat Text', sans-serif;
}

.main {
  position: relative;
  height: 100vh;
  @include flex(column, space-around, center);
  flex-direction: column;

  &__pattern-stars {
    z-index: $zIndex-level1;
    animation: twinkle 6s linear 1s infinite alternate;
    position: absolute;
    top: 10%;
    width: 100%;
  }

  &__title {
    margin: 150px 0 0;
    letter-spacing: $main-letter-spacing;
    text-transform: uppercase;
    font-size: 24px;
  }

  &__pattern-hills {
    z-index: $zIndex-level2;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer {
    z-index: $zIndex-level5;
  }
}

.time {
  @include flex();
  z-index: $zIndex-level5;

  &__wrapper {
    @include flex(column);
    margin-right: 40px;
  }

  &__wrapper:last-child {
    margin-right: 0;
  }

  &__card {
    @include flexCenter;
    color: $primary-red;
    background-color: $dark-blue;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    font-size: 80px;
  }

  &__unit {
    color: $primary-blue;
    letter-spacing: $main-letter-spacing;
    margin-top: 30px;
    text-transform: uppercase;
  }
}

.socials-list {
  @include flex();
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    cursor: pointer;
    padding: 5px;
    display: block;

    &:hover path {
      fill: $primary-red;
    }
  }
}
