@import './var';
@import './mixins';

body {
  color: $white;
  background: $dark-blue-strong;
  font-family: 'Red Hat Text', sans-serif;
}

.main {
  position: relative;
  height: 100vh;
  @include flexCenter;
  flex-direction: column;

  &__pattern-stars {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__title {
    margin: 0;
  }

  &__pattern-hills {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
